{% if app.request.attributes.get('_locale') == "tr" %}
    {% set toLocale = ".en" %}
    {% set hrefLang = "en" %}
{% else %}
    {% set toLocale = ".tr" %}
    {% set hrefLang = "tr" %}
{% endif %}
{% set pathTranslated =  app.request.attributes.get('_route')~toLocale %}
{% set params = app.request.attributes.get('_route_params')|removeLocale %}
{% set translatedUrl = path(pathTranslated, params) %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{app.request.attributes.get('_locale')}}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block pageTitle %}{% endblock %}</title>

    <link rel="canonical" href="{{ app.request.uri|getCanonical }}" />
    {% if app.session.get('_region') != "Europe" %}
    <link rel="alternate" href="//www.iyzico.com{{ translatedUrl }}" hreflang="{{ hrefLang }}" />
    {% endif %}
    <link rel="alternate" href="{{app.request.uri|getCanonical}}" hreflang="{{ app.request.attributes.get('_locale') }}" />
    <link rel="icon" href="{{ asset('assets/images/content/favicon.png') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="facebook-domain-verification" content="i08si5vw7q52b8au7hp4hawdfsl1uq" />
    <!-- OpenGraph Information -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri|getCanonical }}" />
    {% block openGraph %}{% endblock %}
    <meta property="og:locale" content="{{ app.session.get('_locale') }}" />
    <meta property="og:site_name" content="iyzico.com" />
    <!-- Header Style Includes  -->
    <link rel="stylesheet" href="{{ asset('assets/styles/main.min.css') }}" media="screen">
    {% block headerStyleIncludes %}{% endblock %}
    <!-- Header Javascript Includes -->
    {% block headerJavascriptIncludes %}{% endblock %}
    <!-- Styles -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5RVPKJN');</script>
    <script>(function(d,t){
    var e = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        e.src = "https://wps.relateddigital.com/relatedpush_sdk.js?ckey=FE52617BD5E04FE7A9C7A35DE4B559BA&aid=7a9b2b6d-c604-4ba9-95fc-bae01fc73e38";
        e.async = true;
        s.parentNode.insertBefore(e,s);
    }(document,"script"));</script>
</head>

<body class="personal {% block bodyClass %}{% endblock %}" id="myDiv">
    {{ render(controller('WebBundle:Partials:_notifications')) }}
    {{ render(controller('WebBundle:Partials:_offerModal')) }}
    {{ render(controller('WebBundle:Partials:_cookieNotification')) }}
    {{ render(controller('WebBundle:Partials:_pwiBrandsModal')) }}
    {{ render(controller('WebBundle:Partials:_pwiBrandsHowToModal')) }}
    {{ render(controller('WebBundle:Partials:_appDownloadWithQR' )) }}
    {{ render(controller('WebBundle:Partials:_appDownloadWithQRApplyForCard' )) }}
    {{ render(controller('WebBundle:Partials:_consumerOfferRegisterOtpModal')) }}
    {{ render(controller('WebBundle:Partials:_newconsumerRegisterFailOfferModal')) }}
    {{ render(controller('WebBundle:Partials:_newconsumerRegisterSucsessOfferModal')) }}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RVPKJN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="iyzi-site heightFix">
        <header class="base-header {% block headerClasses %}{% endblock %}">
            {% block headContent %}{% endblock %}
        </header>
        <main class="base-main {% block mainClass %}{% endblock %}">
            <div class="menu-overlay"></div>
            {% block main %}{% endblock %}
        </main>
        {% block rateSmileys %}{% endblock %}
        <footer class="base-footer {% block footerClass %}{% endblock %}">
            {% block footerContent %}{% endblock %}
        </footer>
        <script src="{{ asset('assets/scripts/vendors.min.js')}}"></script>
        <script src="{{ asset('assets/scripts/main.min.js')}}" defer></script>
        <script>
            var translatedPage =  "{{ translatedUrl }}";
        </script>
          {% block bodyBottomScripts %}{% endblock %}
    </div>
    {% include '@root/Partials/_successFailPopup.html.twig' %}
</body>
</html>
