{% if app.request.attributes.get('_locale') == "en" %}
    {% set notFound = "Page Not Found" %}
    {% set return = "RETURN TO HOMEPAGE" %}
    {% set phoneNumber = "+90 216 599 01 00" %}
{% else %}
    {% set notFound = "Aradığınız sayfa bulunamadı." %}
    {% set return = "ANASAYFAYA DÖN" %}
    {% set phoneNumber = "+90 216 599 01 00" %}
{% endif %}

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block pageTitle %}{% endblock %}</title>

    <link rel="canonical" href="{{ app.request.uri|getCanonical }}" />

    <link rel="icon" href="{{ asset('assets/images/content/favicon.png') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="description" content="{% block description %}{% endblock %}">
    <!-- OpenGraph Information -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri|getCanonical }}" />
    {% block openGraph %}{% endblock %}
    <meta property="og:locale" content="{{ app.session.get('_locale') }}" />
    <meta property="og:site_name" content="iyzico.com" />
    <!-- Header Style Includes  -->
    <link rel="stylesheet" href="{{ asset('assets/styles/main.min.css') }}" media="screen">
    {% block headerStyleIncludes %}{% endblock %}
    <!-- Header Javascript Includes -->
    {% block headerJavascriptIncludes %}{% endblock %}
    <!-- Styles -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5RVPKJN');</script>
</head>

<body class="{% block bodyClass %}mainMenu{% endblock %}">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RVPKJN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="iyzi-site heightFix failLandingPage">
        <header class="base-header {% block headerClasses %}{% endblock %}">
             {% include '@root/Partials/_parsonalHeader.html.twig' %}
        </header>

        <main class="base-main {% block mainClass %}{% endblock %}">
            {% include '@root/LandingPage/Widgets/_failLandingPageHeaderContent.html.twig' %}
        </main>
        {% block rateSmileys %}{% endblock %}
        <script src="{{ asset('assets/scripts/vendors.min.js')}}"></script>
        <script src="{{ asset('assets/scripts/main.min.js')}}" defer></script>
          {% block bodyBottomScripts %}{% endblock %}
    </div>
    {% include '@root/Partials/_successFailPopup.html.twig' %}
</body>
</html>
